mixin modal-thankyou(data)
    div.modal(id="thankyou")
        div.modal__overlay
        div.modal__body
            header.modal__header
                a.modal__close(href='#' + id)
                    != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'icon icon-close', iconWidth: '14', iconHeight: '14'})
                b.modal__title.title.h1.
                    Сообщение отправлено
            div.modal__content
                p.text-muted.
                    Спасибо за обращение в общественный совет при ГУ МЧС и Департаменте ГОЧС и ПБ. Ответ вы получите по электронной почте в течение 30 дней.
