.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: auto;
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    &.is-open{
        visibility: visible;
        opacity: 1;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 999;
    }
    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        height: 100vh;
        opacity: .85;
        background-color: #eff3f5;
    }
    &__body{
        position: relative;
        margin: 10% auto;
        padding: 1.875rem 2.5rem 1.25rem;
        width: 780px;
        background-color: #fff;
        box-shadow: 0 19px 26px rgba(0, 0, 0, 0.08);
        box-sizing: border-box;
        z-index: 2;
    }
    &__close{
        position: absolute;
        top: 2.8125rem;
        right: 2.8125rem;
        color: $gray;
        font-size: 14px;
        text-decoration: none;
        &:hover{
            color: $brand-primary;
        }
    }
    &__content{
        padding-top: .3125rem;
        p{
            &:last-of-type{
                margin-bottom: 1.125rem;
            }
        }
    }
    &__action{
        .btn{
            margin-top: 13px;
        }
    }
    textarea{
        min-height: 105px;
    }
    .file__attachments{
        display: block;
        position: absolute;
        top: .625rem;
        right: 0;
        width: 1em;
        height: 1em;
        font-size: 22px;
        text-decoration: none;
    }
}
