mixin modal-callback(data)
    div.modal(id="callback")
        div.modal__overlay
        div.modal__body
            header.modal__header
                a.modal__close(href='#' + id)
                    != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'icon icon-close', iconWidth: '14', iconHeight: '14'})
                b.modal__title.title.h1.
                    Обратная связь
            div.modal__content
                p.text-muted.
                    Вы можете обратиться в общественный совет при ГУ МЧС и Департаменте ГОЧС и ПБ. Ответ вы получите по электронной почте в течение 30 дней
                div.grid
                    div.grid__row
                        div.grid__col.grid__col-6
                            div.form-group
                                input.form-control(type="text", placeholder="Ваши ФИО…", requared, value="Кропоткин Иван")
                        div.grid__col.grid__col-6
                            div.form-group
                                input.form-control(type="text", placeholder="E-mail…", requared)

                div.form-group
                    //- a.file__attachments(href='#')
                    //-     != pugHelpers.Icon.call(locals, {iconName: 'attachments', className: 'icon icon-attachments', iconWidth: '22', iconHeight: '22'})
                    textarea.form-control(placeholder="Текст обращения ...", requared)
                div.form-group
                    input.form-control(type="file", multiple)
            div.modal__action.grid
                div.grid__row
                    div.grid__col.grid__col-7
                        .captcha
                            img.captcha__img(src="%=static=%img/content/img_10.jpg", alt="Введите код с картинки", width="158px", height="56px")
                            div.captcha__field.form-group
                                input.form-control(type="text", placeholder="Код с картинки…")
                    div.grid__col.grid__col-5.text-right
                        input.btn.btn-info.btn-lg(type="submit", value="Отправить")
