doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/sidebar/sidebar.pug
    include ../components/footer/footer.pug

    include ../components/block/block.pug
    include ../components/document/document.pug
    include ../components/org/org.pug
    include ../components/member/member.pug
    include ../components/news/news.pug
    include ../components/modal/modal.pug
    include ../components/ui/ui.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        section.page__wrapper
            div.page__header
                +header()
            div.page__content.container
                div.page__art
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'icon icon-star', iconWidth: '345px', iconHeight: '345px'})
                main.page__main(id="main", role="main")
                    //- Include your components here
                div.page__sidebar
                    +sidebar()
            .page__buffer

        .page__footer
            +footer()

        script(src='%=static=%js/separate-js/jquery.min.js')

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
