doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/sidebar/sidebar.pug
    include ../components/footer/footer.pug

    include ../components/block/block.pug
    include ../components/document/document.pug
    include ../components/org/org.pug
    include ../components/member/member.pug
    include ../components/news/news.pug
    include ../components/modal/modal.pug
    include ../components/ui/ui.pug

    head
        +head(head.about)
    body.page
        |%=symbols=%

        section.page__wrapper
            div.page__header
                +header()
            div.page__content.container
                div.page__art
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'icon icon-star', iconWidth: '345px', iconHeight: '345px'})
                b.page__title.title.h1.
                    О совете
                div.grid
                    div.grid__row
                        main.page__main.grid__col.grid__col-8(id="main", role="main")
                            P.lead.
                                Общественный совет образован с целью привлечения общественности к участию в решении наиболее важных вопросов деятельности служб, отвечающих за безопасность жителей и предупреждение чрезвычайных ситуаций в г. Москве.
                            p.
                                Общественный совет является совещательным органом при Главном управлении МЧС России и Департаменте по делам ГОЧС и пожарной безопасности г. Москвы.
                            p.
                                В его состав входят представители Московской городской думы, органов исполнительной власти г. Москвы, предприниматели, научные сотрудники и эксперты в области пожарной безопасности и представители СМИ.
                            p.
                                Совет будет оказывать содействие в подготовке предложений по реализации государственной политики в области гражданской обороны, защиты населения и территорий от чрезвычайных ситуаций природного и техногенного характера, обеспечения пожарной безопасности и безопасности людей на водных объектах.

                            h3.
                                Основными задачами Общественного совета являются:
                            ul
                                li.
                                    Организация общественного контроля деятельностью подразделений и учреждений ГУ МЧС России по г. Москве и Департамента ГОЧСиПБ, а также осуществление общественной экcпертизы социальных программ, проектов законов и иных нормативных правовых актов о деятельности спасательных служб города, включая подготовку практических рекомендаций по данным вопросам
                                li.
                                    Рассмотрение инициатив граждан и разработка программ по совершенствованию деятельности органов и служб, отвечающих за борьбу с последствиями чрезвычайных ситуаций на территории г. Москвы
                                li.
                                    Повышение информационной открытости структур и проведение публичных обсуждений по различным аспектам деятельности учреждений ГУ МЧС России по г. Москве и Департамента ГОЧСиПБ.
                                li.
                                    Изучение и обобщение общественного мнения граждан о деятельности подразделений и доведение полученной информации до руководителей структурных подразделений.
                            blockquote.
                                Одной из наиболее важных задач Общественного Совета станет привлечение граждан и общественных организаций к своей работе, а также развитие взаимодействия чрезвычайного  ведомства с общественными движениями объединениями граждан.
                            h3.
                                В полномочия Общественного совета входят:
                            ul
                                li.
                                    Создание комиссий и рабочих групп по основным направлениям деятельности с участием руководителей структурных подразделений МЧС, а также представителей общественных объединений и организаций
                                li.
                                    Запросы у органов местного самоуправления, организаций, служб и ведомств информации, необходимой для работы Общественного совета.
                                li.
                                    Подготовка рекомендаций и оказание содействия сотрудникам подразделений системы ГУ МЧС России по г. Москве и Департамента ГОЧСиПБ в защите их прав и законных интересов.
                                li.
                                    Закрепление за структурными подразделениями системы ГУ МЧС России по г. Москве и Департамента ГОЧСиПБ членов Общественного совета для участия в совещаниях, рабочих встречах, других мероприятиях, реализуемых в рамках взаимодействия с институтами гражданского общества.

                        div.page__sidebar.grid__col.grid__col-4
                            +sidebar()

            .page__buffer

        .page__footer
            +footer()

        script(src='%=static=%js/separate-js/jquery.min.js')

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
