doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/sidebar/sidebar.pug
    include ../components/footer/footer.pug

    include ../components/block/block.pug
    include ../components/document/document.pug
    include ../components/org/org.pug
    include ../components/member/member.pug
    include ../components/news/news.pug
    include ../components/modal/modal.pug
    include ../components/ui/ui.pug

    head
        +head(head.documents)
    body.page
        |%=symbols=%

        section.page__wrapper
            div.page__header
                +header()
            div.page__content.container
                div.page__art
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'icon icon-star', iconWidth: '345px', iconHeight: '345px'})
                main.page__main(id="main", role="main")
                    b.page__title.title.h1.
                        Документы
                    div.grid
                        div.grid__row
                            div.grid__col.grid__col-6
                                div.block.document-block-teaser
                                    header.block__header
                                        b.block__title.title.h3.
                                            Деятельность совета
                                    div.block__content
                                        for item in documentAbout
                                            +document-item-teaser(item)

                                div.block.document-block-teaser
                                    header.block__header
                                        b.block__title.title.h3.
                                            Прочие документы
                                    div.block__content
                                        for item in documentAbout
                                            +document-item-teaser(item)

            .page__buffer

        .page__footer
            +footer()

        script(src='%=static=%js/separate-js/jquery.min.js')

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
