doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/sidebar/sidebar.pug
    include ../components/footer/footer.pug

    include ../components/block/block.pug
    include ../components/document/document.pug
    include ../components/org/org.pug
    include ../components/member/member.pug
    include ../components/news/news.pug
    include ../components/modal/modal.pug
    include ../components/ui/ui.pug

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        section.page__wrapper
            div.page__header
                +header()
            div.page__content
                main.page__main(id="main", role="main")
                    div.container
                        +news-block-teaser(data)
                        div.block.about-block
                            header.block__header
                                div.block__art
                                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'icon icon-star', iconWidth: '236', iconHeight: '236'})
                                b.block__title.title.h1.
                                    О совете
                            div.block__content
                                div.grid
                                    div.grid__row
                                        div.grid__col.grid__col-8
                                            div.lead
                                                p.
                                                    Общественный совет образован с целью привлечения общественности к участию в решении наиболее важных вопросов деятельности служб, отвечающих за безопасность жителей и предупреждение чрезвычайных ситуаций в г. Москве.

                                            a.read-more(href="about.html")
                                                != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'icon icon-arrow --right', iconWidth: '16', iconHeight: '16'})
                                                |Подробнее о совете
                                        div.grid__col.grid__col-4
                                            +org(data)
                            footer.block__footer
                        div.block.members-block
                            header.block__header
                                b.block__title.title.h2.
                                    В составе совета 35 человек
                            div.block__content
                                p.text-muted.
                                    В Совет входят представители Московской городской думы, органов исполнительной власти г. Москвы, предприниматели, научные сотрудники, эксперты в области пожарной безопасности и представители СМИ.
                                div.grid.--custom-5
                                    .grid__row
                                        - var i, count = 5;
                                        - for (i = 0; i < 5; ++i){
                                            //- console.log(member[count]);
                                            div.grid__col
                                                +member('--teaser', member[i])
                                        - }
                            footer.block__footer.text-center
                                a.read-more(href="members.html")
                                    != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'icon icon-arrow --right', iconWidth: '16', iconHeight: '16'})
                                    |Смотреть всех участников совета
                    .block.callback-block.bg-inverse
                        div.container
                            header.block__header
                                b.block__title.title.h1.
                                    Обратная связь
                            div.grid
                                div.grid__row
                                    div.block__content.grid__col.grid__col-8
                                        p.text-muted.
                                            Вы можете обратиться в общественный совет при ГУ МЧС и Департаменте ГОЧС и ПБ. Ответ вы получите по электронной почте в течение 30 дней.

                                    footer.block__footer.grid__col.grid__col-4.text-right
                                        a.btn.btn-info.getmodal(href="#callback").
                                            Написать

                            div.block__art
                                != pugHelpers.Icon.call(locals, {iconName: 'mail', className: 'icon icon-mail', iconWidth: '141', iconHeight: '153'})
            .page__buffer

        .page__footer
            +footer()
        +modal-callback(data)
        +modal-thankyou(data)
        script(src='%=static=%js/separate-js/jquery.min.js')

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
