doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/sidebar/sidebar.pug
    include ../components/footer/footer.pug

    include ../components/block/block.pug
    include ../components/document/document.pug
    include ../components/org/org.pug
    include ../components/member/member.pug
    include ../components/news/news.pug
    include ../components/modal/modal.pug
    include ../components/ui/ui.pug

    head
        +head(head.composition)
    body.page
        |%=symbols=%

        section.page__wrapper
            div.page__header
                +header()
            div.page__content.container
                div.page__art
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'icon icon-star', iconWidth: '345px', iconHeight: '345px'})
                div.grid
                    div.grid__row
                        main.page__main.grid__col.grid__col-8(id="main", role="main")
                            b.page__title.title.h1.
                                Состав совета
                            div.lead
                                p.
                                    В состав Совета входят представители Московской городской думы, органов исполнительной власти <br>г. Москвы, предприниматели, научные сотрудники и эксперты в области пожарной безопасности и представители СМИ.
                        aside.sidebar.grid__col.grid__col-4(id="sidebar", role="complementary")
                            .block.callback-block.--small.bg-inverse
                                header.block__header
                                    b.block__title.title.h1.
                                        Обратная связь
                                    div.block__content
                                        p.
                                            Вы можете обратиться в общественный совет при ГУ МЧС и Департаменте ГОЧС и ПБ. Ответ вы получите по электронной почте в течение 30 дней.

                                    footer.block__footer
                                        a.btn.btn-info.getmodal(href="#callback").
                                            Написать

                                div.block__art
                                    != pugHelpers.Icon.call(locals, {iconName: 'mail', className: 'icon icon-mail', iconWidth: '141', iconHeight: '153'})

                nav.tab-menu
                    ul.nav
                        li.nav__item.is-active
                            a.nav__link(href="members.html", title="Списком").
                                Списком
                        li.nav__item.is-disabled.is-hidden
                            a.nav__link(href="#", title="На карте").
                                На карте
                div.block.members-block-list
                    header.block__header
                        b.block__title.title.h3.
                            Президиум
                    div.block__content.grid
                        div.grid__row
                            div.grid__col.grid__col-6
                                +member('--teaser-list', member[0])
                            div.grid__col.grid__col-6
                                +member('--teaser-list', member[1])
                        div.grid__row
                            div.grid__col.grid__col-6
                                +member('--teaser-list', member[2])
                            div.grid__col.grid__col-6
                                +member('--teaser-list', member[3])
                div.block.members-block-list
                    header.block__header
                        b.block__title.title.h3.
                            Члены Совета
                    div.block__content.grid
                        div.grid__row
                            div.grid__col.grid__col-6
                                +member('--teaser-list', member[0])
                            div.grid__col.grid__col-6
                                +member('--teaser-list', member[1])
                        div.grid__row
                            div.grid__col.grid__col-6
                                +member('--teaser-list', member[2])
                            div.grid__col.grid__col-6
                                +member('--teaser-list', member[3])

            .page__buffer

        .page__footer
            +footer()

        script(src='%=static=%js/separate-js/jquery.min.js')

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
