doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/sidebar/sidebar.pug
    include ../components/footer/footer.pug

    include ../components/block/block.pug
    include ../components/document/document.pug
    include ../components/org/org.pug
    include ../components/member/member.pug
    include ../components/news/news.pug
    include ../components/modal/modal.pug
    include ../components/ui/ui.pug

    head
        +head(head.newsDetail)
    body.page
        |%=symbols=%

        section.page__wrapper
            div.page__header
                +header()
            div.page__content.container
                div.page__art.--news
                    != pugHelpers.Icon.call(locals, {iconName: 'paper', className: 'icon icon-paper', iconWidth: '345px', iconHeight: '345px'})
                div.grid
                    div.grid__row
                        aside.sidebar.grid__col.grid__col-2(id="sidebar", role="complementary")
                            a.read-more.go-back(href="news.html")
                                != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'icon icon-arrow --left', iconWidth: '16', iconHeight: '16'})
                                |Вернуться
                            nav.nav.social(data-spy="affix", data-offset-top="264", data-offset-bottom="200")
                                a.nav__link.vk(href="http://vkontakte.ru/share.php?url=http://example.com")
                                    != pugHelpers.Icon.call(locals, {iconName: 'vk', className: 'icon icon-vk', iconWidth: '31', iconHeight: '17'})
                                a.nav__link.facebook(href="http://www.facebook.com/sharer.php?u=http://example.com")
                                    != pugHelpers.Icon.call(locals, {iconName: 'facebook', className: 'icon icon-facebook', iconWidth: '10', iconHeight: '24'})
                                a.nav__link.twitter(href="https://twitter.com/share?url==http://example.com&amp;text=В%20районе%20международного%20делового%20центра%20«Москва-Сити» %20проведены%20показные%20пожарно-тактические%20учения")
                                    != pugHelpers.Icon.call(locals, {iconName: 'twitter', className: 'icon icon-twitter', iconWidth: '23', iconHeight: '19'})
                        main.page__main.grid__col.grid__col-10(id="main", role="main")
                            article.article(role="article")
                                header.article__header
                                    h1.page__title.title.article__title.
                                        В районе международного делового центра «Москва-Сити» проведены показные пожарно-тактические учения
                                    div.article__meta.meta
                                        time.meta__item(datetime="2012-12-23").
                                            14 Июня 2016.&nbsp;&nbsp;16:10
                                div.article__content
                                    p.lead.
                                        14 июня 2016 года Главное управление МЧС России по городу Москве провело показные пожарно-тактические учения в районе торгово-пешеходного моста «Багратион»
                                    figure
                                        img(src="%=static=%img/content/img_8.jpg", alt="Подпись к фотографии новости в две строчки", width="540px", height="360px")
                                        figcaption.
                                            Подпись к фотографии новости в две строчки
                                    p.
                                        На фоне возвышающихся небоскребов комплекса зданий московского международного делового центра «Москва-Сити» было смоделировано несколько эпизодов аварийных ситуаций. Одна из главных целей учения – отработка совместных действий пожарно-спасательных подразделений и администрации объекта по проведению аварийно-спасательных работ, а также по тушению пожара. Кроме того, в рамках учения были продемонстрированы способы и приемы спасения людей и тушения пожаров в высотных зданиях, а также спасение людей с акватории Москва-реки.
                                    figure
                                        img(src="%=static=%img/content/img_9.jpg", alt="Подпись к фотографии новости в две строчки")
                                        figcaption.
                                            Подпись к фотографии новости в две строчки
                                    p.
                                        Учения включили в себя три этапа. Согласно первому сценарию, на Багратионовском мосту из-за скачка напряжения в системе электроснабжения тяговых электродвигателей эскалаторов произошло короткое замыкание с последующим загоранием пылевых отложений в помещения под эскалаторным полотном и торговых павильонов. Согласно тактическому замыслу, посетители и прохожие, находившиеся в момент происшествия на мосту, оказались отрезанными от выходов. Люди сосредотачиваются на верхнем ярусе моста (на смотровой площадке), некоторые пытаются подняться на кровлю. Для тушения и спасения людей были привлечены вертолеты, катера, пожарные со специальным альпинистским снаряжением.

            .page__buffer
        .page__footer
            +footer()

        script(src='%=static=%js/separate-js/jquery.min.js')

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
