.block{
    $_ : '.block';
    #{$_}__art{
        pointer-events: none;
        z-index: 0;
    }
}

.about-block{
    $_ : '.block';
    margin-bottom: 2.5rem;
    #{$_}__art{
        position: relative;
        padding-left: 2.8125rem;
        margin-bottom: 2.75rem;
        color: #ebebeb;
        &:before{
            content: '';
            display: block;
            border-radius: 4px;
            height: 4px;
            width: 100%;
            background-color: #ebebeb;
        }
        .icon{
            position: absolute;
            top: 50%;
            left: -208px;
            transform: translate(0, -50%);
            display: block;
            font-size: 236px;
        }
    }
    #{$_}__content{
        padding-top: 1.25rem;
    }
    #{$_}__footer{}
    .read-more{
        margin-top: 1.875rem;
    }
}
.callback-block{
    $_ : '.block';
    position: relative;
    overflow: hidden;
    padding: 2rem 0 2rem;
    #{$_}__header{}
    #{$_}__content{
        padding-top: .75rem;
    }
    #{$_}__footer{}
    #{$_}__title{
        margin: 0;
        color: #fff;
    }
    #{$_}__art{
        position: absolute;
        right: -136px;
        bottom: -115px;
        color: rgba(#fff, .3);
        .icon{
            font-size: 153px;
        }
    }
    .btn{
        font-size: 1.25rem;
        min-width: 210px;
    }
    &.\--small{
        padding: 2rem 1.25rem 1.75rem;
        #{$_}__title{
            font-size: 1.125rem;
        }
        #{$_}__content{
            padding-top: 1rem;
            padding-bottom: 1.1875rem;
        }
        .btn{
            font-size: .9375rem;
            min-width: auto;
        }
        #{$_}__art{
            position: absolute;
            right: -46px;
            bottom: -73px;
            color: rgba(#fff, .3);
            .icon{
                font-size: 153px;
            }
        }
    }
}
