mixin sidebar(data)
    aside.sidebar(id="sidebar", role="complementary")
        +org(data)
        .block.callback-block.--small.bg-inverse
            header.block__header
                b.block__title.title.h1.
                    Обратная связь
                div.block__content
                    p.
                        Вы можете обратиться в общественный совет при ГУ МЧС и Департаменте ГОЧС и ПБ. Ответ вы получите по электронной почте в течение 30 дней.

                footer.block__footer
                    a.btn.btn-info.getmodal(href="#callback").
                        Написать

            div.block__art
                != pugHelpers.Icon.call(locals, {iconName: 'mail', className: 'icon icon-mail', iconWidth: '141', iconHeight: '153'})
