.sidebar{
    $_ : '.sidebar';
    .social{
        display: block;
        margin: 264px auto 0;
        width: 48px;
        &.affix{
            margin-top: 0;
            margin-left: 46px;
        }
    }
    .org{
        margin-bottom: 4.125rem;
    }
    .block{
        margin-bottom: 1rem;
    }
}
