// Common styles of the project
html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: $font-size-root;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
body{
    margin: 0;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: 1.6;
}

html, body {
    height: 100%;
    height: 100vh;
    background-color: #fff;
}

//START logo style
.logo{
    overflow: hidden;
    display: block;
    img{
        display: block;
        max-width: 100%;
    }
}
//END logo style

//START page style
.page {
    &__wrapper {
        min-height: 100%;
        margin-bottom: -100px;
        overflow: hidden;
    }
    &__buffer {
        height: 100px;
    }
    &__header, &__footer{
        .container{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            padding-top: 1.5625rem;
            padding-bottom: 1.5625rem;
            .site-menu{
                flex-grow: 2;
            }
        }
        .brand{
            overflow: hidden;
            max-width: 315px;
            height: 50px;
        }
        .nav{
            text-align: right;
        }
    }
    &__title{
        margin-bottom: 2rem;
    }
    &__art{
        position: absolute;
        top: -150px;
        right: 100%;
        margin-right: 60px;
        &.\--news{
            top: -100px;
            margin-right: 93px;
            .icon-paper{
                font-size: 300px;
                transform: scaleX(-1);
            }
        }
        .icon{
            color: #ebebeb;
            font-size: 345px;
        }
    }
}

//START article style
.article{
    $_ : '.article';
    margin-bottom: 4.875rem;
    #{$_}__content{
        padding-top: .75rem;
    }
    #{$_}__title{
        margin-bottom: 1.125rem;
    }
    #{$_}__meta{}
    .lead{
        margin-bottom: 1.75rem;
    }
    figure{
        margin: 2.25rem 0 2.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        img, .img-link{
            display: block;
            margin-right: $grid-gutter-width;
            max-width: 100%;
        }
        .img-link{
            img{
                margin-right: none;
            }
        }
        figcaption{
            color: $gray;
            font-size: .8125rem;
            line-height: 1.4em;
        }
    }
}
//END article style


* html .page__wrapper {
    height: 100%;
}

.page__header, {

}
//END page style


.container{
    position: relative;
    @include make-container();
    width: $grid-container;
}


//START grid
.grid{
    //start container
    &__container{
        @include make-container();
    }
    //start row
    &__row{
         @include make-row();
    }
    //start col
    &__col{
        @include make-col-ready($grid-container);
        box-sizing: border-box;
    }
    @for $i from 1 through $grid-columns {
        &__col-#{$i} {
            @include make-col($i);
        }
    }
    &.\--custom-5{
        .grid__col{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
}
//END grid


//START helpers
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.img-fluid{
    display: inline-block;
    vertical-align: top;
    max-width: 100% !important;
    width: auto;
    height: auto !important;
}
.bg-inverse{
    color: rgba(#d0d0d0, .7);
    background-color: $brand-inverse;
}
.hidden, .is-hidden{
    display: none;
    visibility: hidden;
    opacity: 0;
}
.affix {
  position: fixed;
}
//END helpers

//START wp style
.ajax-loader{
    display: none;
}
.form-group{
    .wpcf7-not-valid-tip{
        position: absolute;
        top: 100%;
        left: 0;
        display: block;
        color: #e7470f;
        font-size: .8125rem;
        white-space: nowrap;
        width: 100%;

    }
}
.form-control{
    &.wpcf7-not-valid{
        border-bottom-color: #e7470f;
    }
}
.wpcf7-response-output{
    display: none !important;
}
//END wp style
