// GUI stylies of the project
// For example, styles of the links, buttons and so on.

/* START icon style */
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    &.\--rounded{
        border-radius: 50%;
        padding: 0.2em;
    }
    &.\--left{
        transform: rotate(0);
    }
    &.\--top{
        transform: rotate(90deg);
    }
    &.\--right{
        transform: rotate(180deg);
    }
    &.\--bottom{
        transform: rotate(270deg);
    }
}
/* END icon style */


/* START type */
.title{
    display: block;
    margin-top: 0;
    margin-bottom: .5rem;
    color: inherit;
    font-weight: 500;
    line-height: 1.1em;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    margin-top: 0;
    margin-bottom: .5rem;
}
h1, .h1{
    font-size: $font-size-h1;
    font-weight: $font-weight-h1;
}
h2, .h2{
    font-size: $font-size-h2;
    font-weight: $font-weight-h2;
}
h3, .h3{
    font-size: $font-size-h3;
    font-weight: $font-weight-h3;
}
h4, .h4{
    font-size: $font-size-h4;
    font-weight: $font-weight-h4;
}
h5, .h5{
    font-size: $font-size-h5;
    font-weight: $font-weight-h5;
}
h6, .h6{
    font-size: $font-size-h6;
    font-weight: $font-weight-h6;
}

.lead{
    margin-bottom: 2.125rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: $gray-dark;
    line-height: 1.5em;
}
.text-muted{
    color: $gray;
}
p{
    margin-top: 0;
    margin-bottom: 1.5rem;
    &:last-child{
        margin-bottom: 0;
    }
}
blockquote{
    display: block;
    margin: 2.25rem 0 2.25rem;
    padding: 1.5rem .5rem;
    border-top: 4px solid $gray-light;
    border-bottom: 4px solid $gray-light;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.6em;
}
ul, ol{
    padding-left: 2.1875rem;
}
ul{
    list-style: none;
    margin: .75rem 0 1.5rem;
    li{
        position: relative;
        line-height: 1.6em;
        &:before{
            position: absolute;
            top: .625rem;
            left: -1.5625rem;
            content: '';
            display: block;
            border-radius: 50%;
            height: .25em;
            width: .25em;
            background: $gray-dark;
        }
    }
}
/* END type */

/*START link*/
a{
    color: $link-color;
    text-decoration: $link-decoration;
    &:hover{
        color: $link-hover-color;
    }
}
/*END link*/

/* START nav */
.nav{
    padding: 0;
    margin: 0 0 1.75rem;
    list-style: none;
    li{
        display: inline-block;
        &:before{
            content: none;
        }
    }
    .nav{
        display: inline-block;
        vertical-align: top;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .nav__item{
        user-select: none;
        display: inline-block;
        padding-left: 3.5625rem;
        &:first-child{
            padding-left: 0;
        }
    }
    .nav__link{
        color: rgba(#222, .6);
        text-decoration: none;
        &:hover{
            color: $link-hover-color;
        }
    }
    .is-active{
        pointer-events: none;
        color: #222;
        &:after{
            content: '';
            display: block;
            margin-top: .25rem;
            border-radius: 4px;
            height: 4px;
            background-color: $brand-primary;
        }
        a{
            color: inherit;
        }
    }
    .is-disabled{
        cursor: not-allowed;
        opacity: .8;
        a{
            pointer-events: none;
        }
    }
    &.\--main{
        margin-top: .5rem;
        margin-bottom: 0;
        .is-active{
            color: #222;
            &:after{
                background-color: #ff9e00;
            }
        }
    }
}
/* END nav */

/* START read-more */
.read-more{
    display: inline-block;
    .icon{
        display: inline-block;
        vertical-align: middle;
        margin-right: .625rem;
        border: 1px solid;
        border-radius: 50%;
        padding: 11px;
        font-size: 1rem;
    }
}
/* END read-more */
/* START meta */
.meta{
    display: block;
    color: $gray;
    line-height: 1.2em;
    &__item{
        display: inline-block;
        a{
            text-decoration: none;
        }
    }
}
/* END meta */
/* START social */
.social{
    .nav__link{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $grid-gutter-width;
        overflow: hidden;
        border-radius: 50%;
        height: 48px;
        width: 48px;
        color: #fff !important;
        &:hover{
            opacity: .8;
        }
        .icon{
            display: block;
            padding: .75rem;
            font-size: 24px;
        }
        &.vk{
            background-color: vkontakte-color;
        }
        &.facebook{
            background-color: facebook-color;
        }
        &.twitter{
            background-color: twitter-color;
        }
    }
}
/* END social */

/* START btn */
.btn{
    display: inline-block;
    border-radius: 100px;
    padding: .625rem 1.125rem;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    line-height: 1.25em;
    box-sizing: border-box;
    &.btn-lg{
        font-size: 1.25rem;
        min-width: 210px;
    }
    &,
    &:active,
    &.active {
        outline: none;
        border: 0;
        text-decoration: none;
        &:focus,
        &.focus {
            outline: none;
            border: 0;
            text-decoration: none;
        }
    }

    &.focus, &:hover {
        text-decoration: none;
    }

    &.disabled,
    &:disabled {
        cursor: not-allowed;
        opacity: .65;
    }
}
.btn-primary {
    @include button-variant(#fff, $brand-primary, $brand-primary);
}
.btn-info {
    @include button-variant(#fff, $brand-info, $brand-info);
}
/* END btn */
/* START form */
.form-group{
    position: relative;
    margin-bottom: 2rem;
}
.form-control{
    display: block;
    border: 0;
    padding: .75rem .125rem;
    border-bottom: 1px solid #bcbcbc;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    &:focus{
        outline: none !important;
        border-bottom: 1px solid #40a8de;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $gray;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $gray;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $gray;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $gray;
    }
}
textarea{
    &.form-control{
        resize: vertical;
    }
}
.captcha{
    overflow: hidden;
    &__img{
        display: block;
        border: 1px solid #d4d4d4;
        float: left;
        margin-right: 1.25rem;
        width: 158px;
        height: 56px;
        img{
            display: block;
            border: 0;
            width: 158px;
            height: 56px;
        }
    }
    &__field{
        margin-top: 15px;
        margin-bottom: 0;
        overflow: hidden;
        max-width: 200px;
    }
}
/* END form */
