// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

// You can add your own mixins here:

//START grid

// Centered container element
@mixin make-container($gutter: $grid-gutter-width)
{
  margin-right: auto;
  margin-left: auto;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}

// Creates a wrapper for a series of columns
@mixin make-row($gutter: $grid-gutter-width) {
    @if $grid-flex {
        display: flex;
        flex-wrap: wrap;
    }
    @else {
        @include clearfix();
    }
    margin-left: ($gutter / -2);
    margin-right: ($gutter / -2);
}

// Make the element grid-ready (applying everything but the width)
@mixin make-col-ready($size, $columns: $grid-columns, $gutter: $grid-gutter-width) {
    position: relative;
    min-height: 1px; // Prevent collapsing
    padding-right: ($gutter / 2);
    padding-left: ($gutter / 2);
    // Prevent columns from becoming too narrow when at smaller grid tiers by
    // always setting `width: 100%;`. This works because we use `flex` values
    // later on to override this initial width.
    @if $grid-flex {
        width: 100%;
    }
}

@mixin make-col($size, $columns: $grid-columns, $gutter: $grid-gutter-width) {
    @if $grid-flex {
        flex: 0 0 percentage($size / $columns);
        // Add a `max-width` to ensure content within each column does not blow out
        // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
        // do not appear to require this.
        max-width: percentage($size / $columns);
    }
    @else {
        float: left;
        width: percentage($size / $columns);
    }
}

// Get fancy by offsetting, or changing the sort order
@mixin make-col-offset($columns) {
    margin-left: percentage(($columns / $grid-columns));
}

@mixin make-col-push($columns) {
    left: percentage(($columns / $grid-columns));
}

@mixin make-col-pull($columns) {
    right: percentage(($columns / $grid-columns));
}
//END grid


//START btn mixin
@mixin button-variant($color, $background, $border) {
  $active-background: darken($background, 10%);
  $active-border: darken($border, 12%);

  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
  }

  &:focus,
  &.focus {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
  }

  &:active,
  &.active {
    color: $color;
    background-color: $active-background;
        border-color: $active-border;
    // Remove the gradient for the pressed/active state
    background-image: none;

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
          border-color: darken($border, 25%);
    }
  }

  &.disabled,
  &:disabled {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
          border-color: $border;
    }
  }
}
//END btn mixin
