// File for scss-vars.
// For example: main colors, paddings and so on.

// Colors
//
// Grayscale and brand colors.

$gray-dark:                 #000000 !default;
$gray:                      #7D7D7D !default;
$gray-light:                #D8D8D8 !default;
$gray-lighter:              #F6F6F6 !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #FF9E00 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #40A8DE !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #DF4430 !default;
$brand-inverse:             #192633 !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-base:       Ubuntu, $font-family-sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 16px !default;

$font-size-base: .9375rem !default;
$font-size-lg:   1.5rem !default;
$font-size-sm:   .8125rem !default;

$line-height-base: 1.5 !default;

$font-size-h1: 2.25rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.25rem !default;
$font-size-h4: 1rem !default;
$font-size-h5: 1rem !default;
$font-size-h6: 1rem !default;

$font-weight-h1: 500 !default;
$font-weight-h2: 300 !default;
$font-weight-h3: 500 !default;
$font-weight-h4: 500 !default;
$font-weight-h5: $font-weight-h4 !default;
$font-weight-h6: $font-weight-h4 !default;

$lead-font-size:   1.5rem !default;
$lead-font-weight: 300 !default;

// Links
//
// Style anchor elements.

$link-color:            $brand-primary !default;
$link-decoration:       none !default;
$link-hover-color:      #e7470f !default;
$link-hover-decoration: underline !default;



// Grid
//
// Style gird elements.
$grid-container:        940px !default;
$grid-flex:             true !default;
$grid-gutter-width:     1.25rem !default;
$grid-columns:          12 !default;
