mixin footer(data)
    footer.footer.container(id="footer", role="complementary")
        div.footer__brand.brand
            a.logo(href="/", title="Общественный Совет при ГУ МЧС и Департаменте ГОЧС и ПБ")
                img.logo__img(src="%=static=%img/general/logo.svg", alt="Общественный Совет при ГУ МЧС и Департаменте ГОЧС и ПБ", width="322px", height="51px")
        nav.footer__nav.site-menu
            +navmain(data)