mixin news-block-teaser(data)
    div.block.news-block-teaser
        div.block__body
            header.block__header.clearfix
                b.block__title.title.h1.
                    Новости
                div.block__art
                    != pugHelpers.Icon.call(locals, {iconName: 'paper', className: 'icon icon-paper', iconWidth: '176', iconHeight: '119'})
            div.block__content.grid
                div.grid__row
                    div.news.--teaser.grid__col.grid__col-6
                        figure.news__img
                            a.news__link(href="/news-detail.html")
                                img.img-fluid.img-lazy(data-original="%=static=%img/content/img_1-big.jpg", alt="", width="460px", height="300px")
                                figcaption.news__content
                                    time.news__meta.meta(datetime="    2012-12-23").
                                        11.06.16
                                    b.news__title.title.
                                        В районе международного делового центра «Москва-Сити» проведены показные пожарно-тактические учения

                    div.news.--teaser.grid__col.grid__col-6
                        div.news__img
                            a.news__link(href="/news-detail.html")
                                time.news__meta.meta(datetime="    2012-12-23").
                                    12.06.16
                                b.news__title.title.
                                    12 июня — день России
                div.grid__row
                    div.news.--teaser.grid__col.grid__col-3
                        a.news__link(href="/news-detail.html")
                            figure.news__img
                                img.img-fluid.img-lazy(data-original="%=static=%img/content/img_2.jpg", alt="", width="220px", height="165px")
                            time.news__meta.meta(datetime="    2012-12-23").
                                12.06.16
                            div.news__content
                                b.news__title.title.
                                    Пожарно-тактическое занятие в 76 пожарной части
                                div.news__text
                                    p.
                                        В ходе разведки начальником караула капитаном внутренней службы Виталием Карасевым была дана команда личному составу на развертывание пожарной техники, подаче огнетушащих веществ, тушение условного пожара и спасение людей находящихся в здании.
                    div.news.--teaser.grid__col.grid__col-3
                        a.news__link(href="/news-detail.html")
                            figure.news__img
                                img.img-fluid.img-lazy(data-original="%=static=%img/content/img_3.jpg", alt="", width="220px", height="165px")
                            time.news__meta.meta(datetime="    2012-12-23").
                                12.06.16
                            div.news__content
                                b.news__title.title.
                                    Необычный день в Народном парке «Ручеек»
                                div.news__text
                                    p.
                                        13 июня 2016 года в Народном парке «Ручеек», расположенном на территории Марушкинского поселения Новомосковского округа г. Москвы состоялась совместная акция Управления МЧС по НиТАО и Регионального общественного учреждения пожарной охраны «Московская добровольная пожарная команда «Сигнал-01».
                    div.news.--teaser.grid__col.grid__col-3
                        a.news__link(href="/news-detail.html")
                            figure.news__img
                                img.img-fluid.img-lazy(data-original="%=static=%img/content/img_4.jpg", alt="", width="220px", height="165px")
                            time.news__meta.meta(datetime="    2012-12-23").
                                12.06.16
                            div.news__content
                                b.news__title.title.
                                    Всемирный день охраны окружающей среды в Западном округе
                                div.news__text
                                    p.
                                        На днях в Западном округе прошло мероприятие, посвященное Всемирному дню охраны окружающей среды. Его провели заслуженный работник образования Людмила Скрипник совместно с сотрудниками МЧС России, в одной из школ района Фили-Давыдково.
                    div.news.--teaser.grid__col.grid__col-3
                        a.news__link(href="/news-detail.html")
                            figure.news__img
                                img.img-fluid.img-lazy(data-original="%=static=%img/content/img_5.jpg", alt="", width="220px", height="165px")
                            time.news__meta.meta(datetime="    2012-12-23").
                                12.06.16
                            div.news__content
                                b.news__title.title.
                                    Безопасность детских каникул
                                div.news__text
                                    p.
                                        В рамках детской оздоровительной кампании на базе образовательных учреждений Новомосковского и Троицкого округа организованы детские оздоровительные лагеря.
            footer.block__footer.text-center
                a.read-more(href="news.html")
                    != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'icon icon-arrow --right', iconWidth: '16', iconHeight: '16'})
                    |Смотреть все новости
