mixin news(data)
        div.news.--teaser-2.grid__col.grid__col-12
            a.news__link.clearfix(href="/news-detail.html")
                time.news__meta.meta(datetime="    2012-12-23").
                    11.06.2016 &nbsp;|&nbsp; 12:49
                figure.news__img
                    img.img-fluid(src="%=static=%img/content/img_5.jpg", alt="", width="220px", height="164px")
                div.news__content
                    b.news__title.title.
                        Безопасность детских каникул
                    div.news__text
                        p.
                            В рамках детской оздоровительной кампании на базе образовательных учреждений Новомосковского и Троицкого округа организованы детские оздоровительные лагеря.
