mixin news-item-teaser(data)
    div.news.--teaser-2.grid__col.grid__col-12
        a.news__link.clearfix(href=data.link, title=data.title)
            time.news__meta.meta(datetime="2012-12-23").
                #{data.meta}
            if data.img
                figure.news__img
                    img.img-fluid(src=data.img, alt=data.title, width="220px", height="165px")
            div.news__content
                b.news__title.title.
                    #{data.title}
                div.news__text
                    p.
                        #{data.text}