//SATRT news
.news{
    $_ : '.news';
    &.\--teaser{
        padding: .625rem;
        overflow: hidden;
        max-height: 410px;
        &:hover{
            background: $gray-lighter;
            #{$_}__title{
                color: $link-hover-color;
            }
        }
        #{$_}__body{}
        figure{
            height: auto !important;
        }
        #{$_}__img{
            position: relative;
            margin: 0;
            padding: 0;
            text-align: center;
            height: 100%;
            background: $brand-info;
            #{$_}__content{
                position: absolute;
                bottom: 1.375rem;
                left: 1.25rem;
                right: 1.25rem;
                text-align: left;
                #{$_}__meta{
                    margin-top: 0;
                    margin-bottom: .125rem;
                }
                #{$_}__title{
                    margin-bottom: 0;
                    font-size: 1.125rem;
                    font-weight: 500;
                    line-height: 1.34em;
                }
            }
            #{$_}__title{
                margin: 0 0 .5rem;
                color: #fff;
                font-size: 1.875rem;
                font-weight: 300;
                line-height: 1.34em;
            }
            #{$_}__meta{
                margin-top: 0;
                margin-bottom: 1.8125rem;
                color: rgba(#fff, .71);
                line-height: 1.1em;
            }
            #{$_}__link{
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 300px;
                width: 100%;
            }
        }
        #{$_}__content{
            overflow: hidden;
        }
        #{$_}__title{
            margin-bottom: 0;
            color: $gray-dark;
            font-size: .9375rem;
            font-weight: 500;
            line-height: 1.6em;
        }
        #{$_}__text{
            color: $gray;
            font-size: .9375rem;
            line-height: 1.6em;
            p{
                margin-top: 0;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        #{$_}__link{
            display: block;
            color: inherit;
            text-decoration: none;
        }
        #{$_}__meta{
            display: block;
            margin-top: 1rem;
            margin-bottom: .5rem;
            color: #c4c4c4;
            font-size: .75rem;
        }
    }
    &.\--teaser-2{
        margin-bottom: .875rem;
        padding: $grid-gutter-width / 2;
        &:hover{
            background-color: $gray-lighter;
            #{$_}__title{
                color: $link-hover-color;
            }
        }
        #{$_}__link{
            display: block;
            overflow: hidden;
            text-decoration: none;
            color: $gray;
        }
        #{$_}__meta{
            display: block;
            float: left;
            margin-left: 1.5rem;
            margin-right: $grid-gutter-width;
            font-size: .8125rem;
            line-height: 1.4;
        }
        #{$_}__content{
            overflow: hidden;
        }
        #{$_}__img{
            float: left;
            width: 220px;
            text-align: center;
            background: $brand-info;
            margin-right: $grid-gutter-width;
            img{
                display: inline-block;
            }
        }
        #{$_}__title{
            margin-bottom: 1rem;
            font-size: 1rem;
            color: $gray-dark;
            line-height: 1.5em;
        }
        #{$_}__text{
            line-height: 1.6em;
            p{
                margin-top: 0;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}

// START news block
.news-block-teaser{
    $_ : '.block';
    margin-bottom: 2.5rem;
    #{$_}__header{
        position: relative;
        margin-bottom: 1.4375rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #{$_}__title{
        display: block;
    }
    #{$_}__art{
        position: relative;
        display: block;
        flex-grow: 2;
        margin-right: 5.625rem;
        margin-left: 1.375rem;
        border-radius: 4px;
        height: 4px;
        color: #ebebeb;
        background: #ebebeb;
        .icon{
            position: absolute;
            top: -50%;
            right: -206px;
            transform: translate(0, -50%);
            font-size: 176px;
        }
    }
    #{$_}__footer{
        padding-top: 3.625rem;
    }
}
//END news block

//END news
