mixin header(data)
    header.header.container(id="header", role="banner")
        div.header__brand.brand
            a.logo(href="/", title="Общественный Совет при ГУ МЧС и Департаменте ГОЧС и ПБ")
                img.logo__img(src="%=static=%img/general/logo.svg", alt="Общественный Совет при ГУ МЧС и Департаменте ГОЧС и ПБ", width="322px", height="51px")
        nav.header__nav.site-menu
            +navmain(data)
