mixin org(data)
    div.org.--list
        div.org__item
            img.org__img(src="%=static=%img/general/logo-mchs.svg", alt="Главное управление МЧС по г. Москве")
            div.org__content
                b.org__title.title.h4.
                    Главное управление МЧС по г. Москве
                a.org__link(href="http://moscow.mchs.ru", target="_blank", title="Главное управление МЧС по г. Москве").
                    moscow.mchs.ru
        div.org__item
            img.org__img(src="%=static=%img/general/logo-gosch.svg", alt="Главное управление МЧС по г. Москве")
            div.org__content
                b.org__title.title.h4.
                    Департамент ГОЧС и ПБ г. Москвы
                a.org__link(href="http://emercom.mos.ru", target="_blank", title="Департамент ГОЧС и ПБ г. Москвы").
                    emercom.mos.ru