.org{
    $_ : '.org';
    &__item{
        margin-bottom: 2.375rem;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__title{}
    &__img{}
    &__link{}
    &.\--list{
        padding: 7px 0 0 6px;
        #{$_}__item{
            position: relative;
        }
        #{$_}__img{
            display: block;
            float: left;
            margin-right: 1.5rem;
            height: 50px;
            width: 50px;
        }
        #{$_}__content{
            position: relative;
            overflow: hidden;
            max-width: 200px;
        }
        #{$_}__title{
            margin-bottom: 0;
            line-height: 1.5em;
        }
    }
}
