mixin navmain(data)
    ul.nav.--main
        li.nav__item
            a.nav__link(href="news.html", title="Новости").
                Новости
        li.nav__item
            a.nav__link(href="about.html", title="О совете").
                О совете
        li.nav__item
            a.nav__link(href="members.html", title="Состав").
                Состав
        li.nav__item
            a.nav__link(href="documents.html", title="Документы").
                Документы
