mixin pagination(data)
    div.pagination
        div.pagination__prev.read-more
            != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'icon icon-arrow --left', iconWidth: '16', iconHeight: '16'})
            |Предыдущая
        ul.nav.pagination__nav
            li.nav__item.is-active.
                    1
            li.nav__item
                a.nav__link(href="#").
                    2
            li.nav__item
                a.nav__link(href="#").
                    3
            li.nav__item
                a.nav__link(href="#").
                    4
            li.nav__item
                a.nav__link(href="#").
                    5
        a.pagination__next.read-more(href="#")
            |Следующая
            != pugHelpers.Icon.call(locals, {iconName: 'arrow', className: 'icon icon-arrow --right', iconWidth: '16', iconHeight: '16'})