/* START pagination */
.pagination{
    $_ : ".pagination";
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    color: #bcbcbc;
    text-align: center;
    #{$_}__prev, #{$_}__next{
        user-select: none;
        icon{
            margin: 0;
        }
        &.disabled{
            color: #bcbcbc;
        }
    }
    #{$_}__prev{
        float: left;
        .icon{
            margin-right: 1.25rem;
        }
    }
    #{$_}__next{
        float: right;
        .icon{
            margin-left: 1.25rem;
        }
    }
    #{$_}__nav{
        overflow: hidden;
        display: inline-block;
        padding: 0 1rem;
    }
    .nav__item{
        float: left;
        padding: .5rem 1.6875rem;
        color: $gray-dark;
        font-size: .9375rem;
        font-weight: 400;
        min-width: 16px;
        &.is-active{
            &:after{
                content: '';
                display: block;
                border-radius: 4px;
                margin-top: 4px;
                height: 4px;
                width: 100%;
                background-color: $link-color;
            }
        }
    }
    .nav__link{}
}
/* END pagination */
