mixin document-item-teaser(data)
    div.document.--teaser
        div.document__img
            != pugHelpers.Icon.call(locals, {iconName: data.type, className: data.icon, iconWidth: '16', iconHeight: '16'})
        div.document__content
            b.document__title.title.
                #{data.title}
            div.document__meta.meta
                span.meta__item.--info.
                    #{data.meta}
                span.meta__item
                    a(href="#").
                        Скачать
