.document{
    $_ : '.document';
    &.\--teaser{
        overflow: hidden;
        #{$_}__img{
            float: left;
            overflow: hidden;
            border-radius: 50%;
            margin-right: $grid-gutter-width;
            color: #fff;
            font-size: 27px;
            .icon{
                display: block;
                vertical-align: top;
                padding: 1rem;
                background-color: $gray;
                &.icon-pdf{
                    background-color: $brand-danger;
                }
                &.icon-word{
                    background-color: $brand-info;
                }
            }
        }
        #{$_}__content{
            overflow: hidden;
            padding-top: .25rem;
        }
        #{$_}__title{
            margin-bottom: .5625rem;
            color: $gray-dark;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5em;
        }
        #{$_}__meta{
            color: $gray;
            font-size: .8125rem;
            .meta__item{
                display: inline-block;
                margin-right: .5rem;
                &.\--info{
                    text-transform: uppercase;
                }
                a{
                    text-decoration: none;
                }
            }
        }
    }
}

.document-block-teaser{
    $_ : '.block';
    margin-bottom: 2.125rem;
    overflow: hidden;
    #{$_}__header{}
    #{$_}__content{
        padding-top: 2rem;
    }
    .document.\--teaser{
        margin-bottom: 1.875rem;
    }
}
