/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Remove margin
 */
figure {
  margin: 0;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Blockquote
   ========================================================================== */
blockquote {
  margin: 0;
}

/* Libraries, which is used in current project. */
/* Libraries, which is used in current project. */
/* Some styles, which is used for correct sprite-generation, vars, mixins and etc */
/* Please, do not edit with file! */
/* This file can be overwritten by update-project! */
/* Mixins, which are specific for current project */
/* Mixins and vars for sprite generation */
/* Scss for used fonts */
/* Your custom fonts here */
/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value   
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/
/* This stylesheet generated by Transfonter (http://transfonter.org) on October 15, 2016 9:58 PM */
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/subset-Ubuntu-Medium.eot");
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url("../fonts/Ubuntu/subset-Ubuntu-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/subset-Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu/subset-Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu/subset-Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/subset-Ubuntu.eot");
  src: local("Ubuntu"), url("../fonts/Ubuntu/subset-Ubuntu.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/subset-Ubuntu.woff2") format("woff2"), url("../fonts/Ubuntu/subset-Ubuntu.woff") format("woff"), url("../fonts/Ubuntu/subset-Ubuntu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/subset-Ubuntu-Light.eot");
  src: local("Ubuntu Light"), local("Ubuntu-Light"), url("../fonts/Ubuntu/subset-Ubuntu-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu/subset-Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu/subset-Ubuntu-Light.woff") format("woff"), url("../fonts/Ubuntu/subset-Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Vars, which are specific for current project */
/* Styles for UI-elements */
/* START icon style */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon.\--rounded {
  border-radius: 50%;
  padding: 0.2em;
}

.icon.\--left {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.icon.\--top {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.icon.\--right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.icon.\--bottom {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

/* END icon style */
/* START type */
.title {
  display: block;
  margin-top: 0;
  margin-bottom: .5rem;
  color: inherit;
  font-weight: 500;
  line-height: 1.1em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

h1, .h1 {
  font-size: 2.25rem;
  font-weight: 500;
}

h2, .h2 {
  font-size: 2rem;
  font-weight: 300;
}

h3, .h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

h4, .h4 {
  font-size: 1rem;
  font-weight: 500;
}

h5, .h5 {
  font-size: 1rem;
  font-weight: 500;
}

h6, .h6 {
  font-size: 1rem;
  font-weight: 500;
}

.lead {
  margin-bottom: 2.125rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #000000;
  line-height: 1.5em;
}

.text-muted {
  color: #7D7D7D;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

p:last-child {
  margin-bottom: 0;
}

blockquote {
  display: block;
  margin: 2.25rem 0 2.25rem;
  padding: 1.5rem .5rem;
  border-top: 4px solid #D8D8D8;
  border-bottom: 4px solid #D8D8D8;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.6em;
}

ul, ol {
  padding-left: 2.1875rem;
}

ul {
  list-style: none;
  margin: .75rem 0 1.5rem;
}

ul li {
  position: relative;
  line-height: 1.6em;
}

ul li:before {
  position: absolute;
  top: .625rem;
  left: -1.5625rem;
  content: '';
  display: block;
  border-radius: 50%;
  height: .25em;
  width: .25em;
  background: #000000;
}

/* END type */
/*START link*/
a {
  color: #FF9E00;
  text-decoration: none;
}

a:hover {
  color: #e7470f;
}

/*END link*/
/* START nav */
.nav {
  padding: 0;
  margin: 0 0 1.75rem;
  list-style: none;
}

.nav li {
  display: inline-block;
}

.nav li:before {
  content: none;
}

.nav .nav {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav .nav__item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  padding-left: 3.5625rem;
}

.nav .nav__item:first-child {
  padding-left: 0;
}

.nav .nav__link {
  color: rgba(34, 34, 34, 0.6);
  text-decoration: none;
}

.nav .nav__link:hover {
  color: #e7470f;
}

.nav .is-active {
  pointer-events: none;
  color: #222;
}

.nav .is-active:after {
  content: '';
  display: block;
  margin-top: .25rem;
  border-radius: 4px;
  height: 4px;
  background-color: #FF9E00;
}

.nav .is-active a {
  color: inherit;
}

.nav .is-disabled {
  cursor: not-allowed;
  opacity: .8;
}

.nav .is-disabled a {
  pointer-events: none;
}

.nav.\--main {
  margin-top: .5rem;
  margin-bottom: 0;
}

.nav.\--main .is-active {
  color: #222;
}

.nav.\--main .is-active:after {
  background-color: #ff9e00;
}

/* END nav */
/* START read-more */
.read-more {
  display: inline-block;
}

.read-more .icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: .625rem;
  border: 1px solid;
  border-radius: 50%;
  padding: 11px;
  font-size: 1rem;
}

/* END read-more */
/* START meta */
.meta {
  display: block;
  color: #7D7D7D;
  line-height: 1.2em;
}

.meta__item {
  display: inline-block;
}

.meta__item a {
  text-decoration: none;
}

/* END meta */
/* START social */
.social .nav__link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25rem;
  overflow: hidden;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  color: #fff !important;
}

.social .nav__link:hover {
  opacity: .8;
}

.social .nav__link .icon {
  display: block;
  padding: .75rem;
  font-size: 24px;
}

.social .nav__link.vk {
  background-color: #45668e;
}

.social .nav__link.facebook {
  background-color: #3b5998;
}

.social .nav__link.twitter {
  background-color: #55acee;
}

/* END social */
/* START btn */
.btn {
  display: inline-block;
  border-radius: 100px;
  padding: .625rem 1.125rem;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  line-height: 1.25em;
  box-sizing: border-box;
}

.btn.btn-lg {
  font-size: 1.25rem;
  min-width: 210px;
}

.btn, .btn:active, .btn.active {
  outline: none;
  border: 0;
  text-decoration: none;
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: none;
  border: 0;
  text-decoration: none;
}

.btn.focus, .btn:hover {
  text-decoration: none;
}

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
  opacity: .65;
}

.btn-primary {
  color: #fff;
  background-color: #FF9E00;
  border-color: #FF9E00;
}

.btn-primary:hover {
  color: #fff;
  background-color: #cc7e00;
  border-color: #c27800;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #cc7e00;
  border-color: #c27800;
}

.btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #cc7e00;
  border-color: #c27800;
  background-image: none;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus {
  color: #fff;
  background-color: #a86800;
  border-color: #804f00;
}

.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary:disabled:hover, .btn-primary:disabled:focus, .btn-primary:disabled.focus {
  background-color: #FF9E00;
  border-color: #FF9E00;
}

.btn-info {
  color: #fff;
  background-color: #40A8DE;
  border-color: #40A8DE;
}

.btn-info:hover {
  color: #fff;
  background-color: #2390c8;
  border-color: #2189c0;
}

.btn-info:focus, .btn-info.focus {
  color: #fff;
  background-color: #2390c8;
  border-color: #2189c0;
}

.btn-info:active, .btn-info.active {
  color: #fff;
  background-color: #2390c8;
  border-color: #2189c0;
  background-image: none;
}

.btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus {
  color: #fff;
  background-color: #1d7aaa;
  border-color: #176187;
}

.btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info:disabled:hover, .btn-info:disabled:focus, .btn-info:disabled.focus {
  background-color: #40A8DE;
  border-color: #40A8DE;
}

/* END btn */
/* START form */
.form-group {
  position: relative;
  margin-bottom: 2rem;
}

.form-control {
  display: block;
  border: 0;
  padding: .75rem .125rem;
  border-bottom: 1px solid #bcbcbc;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.form-control:focus {
  outline: none !important;
  border-bottom: 1px solid #40a8de;
}

.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #7D7D7D;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #7D7D7D;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #7D7D7D;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #7D7D7D;
}

textarea.form-control {
  resize: vertical;
}

.captcha {
  overflow: hidden;
}

.captcha__img {
  display: block;
  border: 1px solid #d4d4d4;
  float: left;
  margin-right: 1.25rem;
  width: 158px;
  height: 56px;
}

.captcha__img img {
  display: block;
  border: 0;
  width: 158px;
  height: 56px;
}

.captcha__field {
  margin-top: 15px;
  margin-bottom: 0;
  overflow: hidden;
  max-width: 200px;
}

/* END form */
/* Common styles for current project */
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.9375rem;
  line-height: 1.6;
}

html, body {
  height: 100%;
  height: 100vh;
  background-color: #fff;
}

.logo {
  overflow: hidden;
  display: block;
}

.logo img {
  display: block;
  max-width: 100%;
}

.page__wrapper {
  min-height: 100%;
  margin-bottom: -100px;
  overflow: hidden;
}

.page__buffer {
  height: 100px;
}

.page__header .container, .page__footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}

.page__header .container .site-menu, .page__footer .container .site-menu {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.page__header .brand, .page__footer .brand {
  overflow: hidden;
  max-width: 315px;
  height: 50px;
}

.page__header .nav, .page__footer .nav {
  text-align: right;
}

.page__title {
  margin-bottom: 2rem;
}

.page__art {
  position: absolute;
  top: -150px;
  right: 100%;
  margin-right: 60px;
}

.page__art.\--news {
  top: -100px;
  margin-right: 93px;
}

.page__art.\--news .icon-paper {
  font-size: 300px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.page__art .icon {
  color: #ebebeb;
  font-size: 345px;
}

.article {
  margin-bottom: 4.875rem;
}

.article .article__content {
  padding-top: .75rem;
}

.article .article__title {
  margin-bottom: 1.125rem;
}

.article .lead {
  margin-bottom: 1.75rem;
}

.article figure {
  margin: 2.25rem 0 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article figure img, .article figure .img-link {
  display: block;
  margin-right: 1.25rem;
  max-width: 100%;
}

.article figure .img-link img {
  margin-right: none;
}

.article figure figcaption {
  color: #7D7D7D;
  font-size: .8125rem;
  line-height: 1.4em;
}

* html .page__wrapper {
  height: 100%;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  width: 940px;
}

.grid__container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -0.625rem;
  margin-right: -0.625rem;
}

.grid__col {
  position: relative;
  min-height: 1px;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  width: 100%;
  box-sizing: border-box;
}

.grid__col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.grid__col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.grid__col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.grid__col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.grid__col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.grid__col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.grid__col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.grid__col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.grid__col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.grid__col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.grid__col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.grid__col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.grid.\--custom-5 .grid__col {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.img-fluid {
  display: inline-block;
  vertical-align: top;
  max-width: 100% !important;
  width: auto;
  height: auto !important;
}

.bg-inverse {
  color: rgba(208, 208, 208, 0.7);
  background-color: #192633;
}

.hidden, .is-hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.affix {
  position: fixed;
}

.ajax-loader {
  display: none;
}

.form-group .wpcf7-not-valid-tip {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  color: #e7470f;
  font-size: .8125rem;
  white-space: nowrap;
  width: 100%;
}

.form-control.wpcf7-not-valid {
  border-bottom-color: #e7470f;
}

.wpcf7-response-output {
  display: none !important;
}

/* Plugins, which is used in current project. */
/* Components, which is used in current project. */
/* START pagination */
.pagination {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  color: #bcbcbc;
  text-align: center;
}

.pagination .pagination__prev, .pagination .pagination__next {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pagination .pagination__prev icon, .pagination .pagination__next icon {
  margin: 0;
}

.pagination .pagination__prev.disabled, .pagination .pagination__next.disabled {
  color: #bcbcbc;
}

.pagination .pagination__prev {
  float: left;
}

.pagination .pagination__prev .icon {
  margin-right: 1.25rem;
}

.pagination .pagination__next {
  float: right;
}

.pagination .pagination__next .icon {
  margin-left: 1.25rem;
}

.pagination .pagination__nav {
  overflow: hidden;
  display: inline-block;
  padding: 0 1rem;
}

.pagination .nav__item {
  float: left;
  padding: .5rem 1.6875rem;
  color: #000000;
  font-size: .9375rem;
  font-weight: 400;
  min-width: 16px;
}

.pagination .nav__item.is-active:after {
  content: '';
  display: block;
  border-radius: 4px;
  margin-top: 4px;
  height: 4px;
  width: 100%;
  background-color: #FF9E00;
}

/* END pagination */
.document.\--teaser {
  overflow: hidden;
}

.document.\--teaser .document__img {
  float: left;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1.25rem;
  color: #fff;
  font-size: 27px;
}

.document.\--teaser .document__img .icon {
  display: block;
  vertical-align: top;
  padding: 1rem;
  background-color: #7D7D7D;
}

.document.\--teaser .document__img .icon.icon-pdf {
  background-color: #DF4430;
}

.document.\--teaser .document__img .icon.icon-word {
  background-color: #40A8DE;
}

.document.\--teaser .document__content {
  overflow: hidden;
  padding-top: .25rem;
}

.document.\--teaser .document__title {
  margin-bottom: .5625rem;
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5em;
}

.document.\--teaser .document__meta {
  color: #7D7D7D;
  font-size: .8125rem;
}

.document.\--teaser .document__meta .meta__item {
  display: inline-block;
  margin-right: .5rem;
}

.document.\--teaser .document__meta .meta__item.\--info {
  text-transform: uppercase;
}

.document.\--teaser .document__meta .meta__item a {
  text-decoration: none;
}

.document-block-teaser {
  margin-bottom: 2.125rem;
  overflow: hidden;
}

.document-block-teaser .block__content {
  padding-top: 2rem;
}

.document-block-teaser .document.\--teaser {
  margin-bottom: 1.875rem;
}

.news.\--teaser {
  padding: .625rem;
  overflow: hidden;
  max-height: 410px;
}

.news.\--teaser:hover {
  background: #F6F6F6;
}

.news.\--teaser:hover .news__title {
  color: #e7470f;
}

.news.\--teaser figure {
  height: auto !important;
}

.news.\--teaser .news__img {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
  background: #40A8DE;
}

.news.\--teaser .news__img .news__content {
  position: absolute;
  bottom: 1.375rem;
  left: 1.25rem;
  right: 1.25rem;
  text-align: left;
}

.news.\--teaser .news__img .news__content .news__meta {
  margin-top: 0;
  margin-bottom: .125rem;
}

.news.\--teaser .news__img .news__content .news__title {
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.34em;
}

.news.\--teaser .news__img .news__title {
  margin: 0 0 .5rem;
  color: #fff;
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 1.34em;
}

.news.\--teaser .news__img .news__meta {
  margin-top: 0;
  margin-bottom: 1.8125rem;
  color: rgba(255, 255, 255, 0.71);
  line-height: 1.1em;
}

.news.\--teaser .news__img .news__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  width: 100%;
}

.news.\--teaser .news__content {
  overflow: hidden;
}

.news.\--teaser .news__title {
  margin-bottom: 0;
  color: #000000;
  font-size: .9375rem;
  font-weight: 500;
  line-height: 1.6em;
}

.news.\--teaser .news__text {
  color: #7D7D7D;
  font-size: .9375rem;
  line-height: 1.6em;
}

.news.\--teaser .news__text p {
  margin-top: 0;
}

.news.\--teaser .news__text p:last-child {
  margin-bottom: 0;
}

.news.\--teaser .news__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.news.\--teaser .news__meta {
  display: block;
  margin-top: 1rem;
  margin-bottom: .5rem;
  color: #c4c4c4;
  font-size: .75rem;
}

.news.\--teaser-2 {
  margin-bottom: .875rem;
  padding: 0.625rem;
}

.news.\--teaser-2:hover {
  background-color: #F6F6F6;
}

.news.\--teaser-2:hover .news__title {
  color: #e7470f;
}

.news.\--teaser-2 .news__link {
  display: block;
  overflow: hidden;
  text-decoration: none;
  color: #7D7D7D;
}

.news.\--teaser-2 .news__meta {
  display: block;
  float: left;
  margin-left: 1.5rem;
  margin-right: 1.25rem;
  font-size: .8125rem;
  line-height: 1.4;
}

.news.\--teaser-2 .news__content {
  overflow: hidden;
}

.news.\--teaser-2 .news__img {
  float: left;
  width: 220px;
  text-align: center;
  background: #40A8DE;
  margin-right: 1.25rem;
}

.news.\--teaser-2 .news__img img {
  display: inline-block;
}

.news.\--teaser-2 .news__title {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #000000;
  line-height: 1.5em;
}

.news.\--teaser-2 .news__text {
  line-height: 1.6em;
}

.news.\--teaser-2 .news__text p {
  margin-top: 0;
}

.news.\--teaser-2 .news__text p:last-child {
  margin-bottom: 0;
}

.news-block-teaser {
  margin-bottom: 2.5rem;
}

.news-block-teaser .block__header {
  position: relative;
  margin-bottom: 1.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-block-teaser .block__title {
  display: block;
}

.news-block-teaser .block__art {
  position: relative;
  display: block;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin-right: 5.625rem;
  margin-left: 1.375rem;
  border-radius: 4px;
  height: 4px;
  color: #ebebeb;
  background: #ebebeb;
}

.news-block-teaser .block__art .icon {
  position: absolute;
  top: -50%;
  right: -206px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 176px;
}

.news-block-teaser .block__footer {
  padding-top: 3.625rem;
}

.org__item {
  margin-bottom: 2.375rem;
}

.org__item:last-child {
  margin-bottom: 0;
}

.org.\--list {
  padding: 7px 0 0 6px;
}

.org.\--list .org__item {
  position: relative;
}

.org.\--list .org__img {
  display: block;
  float: left;
  margin-right: 1.5rem;
  height: 50px;
  width: 50px;
}

.org.\--list .org__content {
  position: relative;
  overflow: hidden;
  max-width: 200px;
}

.org.\--list .org__title {
  margin-bottom: 0;
  line-height: 1.5em;
}

.member .member__img {
  overflow: hidden;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: block;
  text-align: center;
  background: #40A8DE;
}

.member .member__img img {
  display: block;
  border-radius: 50%;
}

.member .member__content {
  overflow: hidden;
}

.member .member__title {
  color: #000000;
}

.member .member__text, .member .member__meta {
  font-size: .8125rem;
  line-height: 1.385em;
}

.member.\--teaser-list {
  margin-bottom: 2rem;
}

.member.\--teaser-list .member__img {
  float: left;
  margin-right: 1.875rem;
}

.member.\--teaser-list .member__title {
  margin-top: .25rem;
  margin-bottom: .125rem;
  font-size: 1rem;
  line-height: 1.6em;
}

.member.\--teaser-list .member__text {
  margin-bottom: .375rem;
  color: #000000;
}

.member.\--teaser-list .member__meta {
  color: #7D7D7D;
}

.member.\--teaser {
  padding: 1.75rem .625rem 1.25rem;
  text-align: center;
}

.member.\--teaser .member__link {
  display: block;
}

.member.\--teaser .member__img {
  margin: 0 auto 1rem;
}

.member.\--teaser .member__title {
  font-size: .9375rem;
  line-height: 1.6em;
}

.member.\--teaser .member__text {
  color: #7D7D7D;
}

.members-block-list {
  margin-bottom: .5rem;
}

.members-block-list .block__content {
  padding-top: 1.875rem;
}

.members-block {
  margin-bottom: 3rem;
}

.members-block .block__content {
  padding-top: .25rem;
}

.members-block .grid {
  margin-top: 2.125rem;
}

.block .block__art {
  pointer-events: none;
  z-index: 0;
}

.about-block {
  margin-bottom: 2.5rem;
}

.about-block .block__art {
  position: relative;
  padding-left: 2.8125rem;
  margin-bottom: 2.75rem;
  color: #ebebeb;
}

.about-block .block__art:before {
  content: '';
  display: block;
  border-radius: 4px;
  height: 4px;
  width: 100%;
  background-color: #ebebeb;
}

.about-block .block__art .icon {
  position: absolute;
  top: 50%;
  left: -208px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: block;
  font-size: 236px;
}

.about-block .block__content {
  padding-top: 1.25rem;
}

.about-block .read-more {
  margin-top: 1.875rem;
}

.callback-block {
  position: relative;
  overflow: hidden;
  padding: 2rem 0 2rem;
}

.callback-block .block__content {
  padding-top: .75rem;
}

.callback-block .block__title {
  margin: 0;
  color: #fff;
}

.callback-block .block__art {
  position: absolute;
  right: -136px;
  bottom: -115px;
  color: rgba(255, 255, 255, 0.3);
}

.callback-block .block__art .icon {
  font-size: 153px;
}

.callback-block .btn {
  font-size: 1.25rem;
  min-width: 210px;
}

.callback-block.\--small {
  padding: 2rem 1.25rem 1.75rem;
}

.callback-block.\--small .block__title {
  font-size: 1.125rem;
}

.callback-block.\--small .block__content {
  padding-top: 1rem;
  padding-bottom: 1.1875rem;
}

.callback-block.\--small .btn {
  font-size: .9375rem;
  min-width: auto;
}

.callback-block.\--small .block__art {
  position: absolute;
  right: -46px;
  bottom: -73px;
  color: rgba(255, 255, 255, 0.3);
}

.callback-block.\--small .block__art .icon {
  font-size: 153px;
}

.sidebar .social {
  display: block;
  margin: 264px auto 0;
  width: 48px;
}

.sidebar .social.affix {
  margin-top: 0;
  margin-left: 46px;
}

.sidebar .org {
  margin-bottom: 4.125rem;
}

.sidebar .block {
  margin-bottom: 1rem;
}

.header {
  margin-bottom: 2.8125rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: auto;
  display: none;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.modal.is-open {
  visibility: visible;
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  opacity: .85;
  background-color: #eff3f5;
}

.modal__body {
  position: relative;
  margin: 10% auto;
  padding: 1.875rem 2.5rem 1.25rem;
  width: 780px;
  background-color: #fff;
  box-shadow: 0 19px 26px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  z-index: 2;
}

.modal__close {
  position: absolute;
  top: 2.8125rem;
  right: 2.8125rem;
  color: #7D7D7D;
  font-size: 14px;
  text-decoration: none;
}

.modal__close:hover {
  color: #FF9E00;
}

.modal__content {
  padding-top: .3125rem;
}

.modal__content p:last-of-type {
  margin-bottom: 1.125rem;
}

.modal__action .btn {
  margin-top: 13px;
}

.modal textarea {
  min-height: 105px;
}

.modal .file__attachments {
  display: block;
  position: absolute;
  top: .625rem;
  right: 0;
  width: 1em;
  height: 1em;
  font-size: 22px;
  text-decoration: none;
}

/* Additional style files. */
