.member{
    $_ : '.member';
    #{$_}__img{
        overflow: hidden;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        display: block;
        text-align: center;
        background: $brand-info;
        img{
            display: block;
            border-radius: 50%;
        }
    }
    #{$_}__content{
        overflow: hidden;
    }
    #{$_}__title{
        color: $gray-dark;
    }
    #{$_}__text, #{$_}__meta{
        font-size: .8125rem;
        line-height: 1.385em;
    }
    &.\--teaser-list{
        margin-bottom: 2rem;
        #{$_}__img{
            float: left;
            margin-right: 1.875rem;
        }
        #{$_}__title{
            margin-top: .25rem;
            margin-bottom: .125rem;
            font-size: 1rem;
            line-height: 1.6em;
        }
        #{$_}__text{
            margin-bottom: .375rem;
            color: $gray-dark;
        }
        #{$_}__meta{
            color: $gray;
        }
    }
    &.\--teaser{
        padding: 1.75rem .625rem 1.25rem;
        text-align: center;
        #{$_}__link{
            display: block;
        }
        #{$_}__img{
            margin: 0 auto 1rem;
        }
        #{$_}__title{
            font-size: .9375rem;
            line-height: 1.6em;
        }
        #{$_}__text{
            color: $gray;
        }
    }
}
.members-block-list{
    $_ : '.block';
    margin-bottom: .5rem;
    #{$_}__content{
        padding-top: 1.875rem;
    }
}
.members-block{
    $_ : '.block';
    margin-bottom: 3rem;
    #{$_}__content{
        padding-top: .25rem;
    }
    .grid{
        margin-top: 2.125rem;
    }
}
