mixin member(attrClass, data)
    div.member(class=member + attrClass ? attrClass : '')
        figure.member__img(width="80px", height="80px")
            img.img-lazy(data-original=data.img, alt=data.title, width="80px", height="80px")
        div.member__content
            b.member__title.title.
                #{data.name}
            div.member__text
                p.
                    #{data.text}
            if data.meta && attrClass != '--teaser'
                div.member__meta
                    p.
                        #{data.meta}
